/* Header */

.title {
  margin-left: 2%;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  background-color: #a47148;
}

.links {
  margin-right: 9%;
  margin-top: 4%;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
}

.login-link {
  margin-right: 20%;
  text-decoration: none;
  color: #fff;
}

.logout-link {
  margin-right: 10%;
  text-decoration: none;
  color: #fff;
}

.register-link {
  margin-right: 15%;
  text-decoration: none;
  color: #fff;
}

.dashboard-link {
  margin-right: 10%;
  text-decoration: none;
  color: #fff;
}

.invite-link {
  margin-right: 10%;
  text-decoration: none;
  color: #fff;
}

/*  Dashboard */

.food1 {
  height: 29vh;
  width: 99.6%;
  border-top-left-radius: 9%;
  border-top-right-radius: 9%;
}

.potlucks-con {
  display: flex;
  flex-flow: row wrap;
}

.potluck {
  width: 30%;
  height: 70vh;
  border-radius: 7%;
  margin-top: 3%;
  margin-left: 1%;
  background-color: #f3d5b5;
}

.label input {
  margin-top: 15%;
}

input {
  width: 80%;
  height: 4vh;
  margin-left: 10%;
  border: 0px solid black;
}

.name {
  margin-bottom: 5%;
}

.date {
  margin-bottom: 5%;
}

.add {
  width: 25%;
  height: 4vh;
  margin-left: 67%;
  margin-top: 7%;
  border: 0px solid black;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  background-color: #f3d5b5;
  color: #fff;
}

.info {
  text-align: center;
}

.edit {
  width: 20%;
  height: 4.2vh;
  margin-top: 3.5%;
  margin-right: 8%;

  border: 0px solid black;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  background-color: #f3d5b5;
  color: #fff;
}

.delete {
  width: 20%;
  height: 4.2vh;
  margin-left: 5%;
  border: 0px solid black;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  background-color: #f3d5b5;
  color: #fff;
}

.guest {
  width: 20%;
  height: 4.2vh;
  margin-right: 10%;
  border: 0px solid black;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  background-color: #f3d5b5;
  color: #fff;
  position: relative;
  left: 3%;
}

.invite-con {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 8vh;
  position: relative;
}

.invite-guest {
  width: 5%;
  height: 4.2vh;
  position: relative;
  background-color: #fff;
  border: 0px solid black;
}

.invite-input {
  height: 3vh;
  width: 10%;
  position: relative;
  right: 9.9%;
  bottom: 20%;
  color: #a47148;
  border: 1px solid black;
}

.invite-btn {
  width: 3%;
  height: 2vh;
  position: relative;
  top: 3.5%;
  left: 10.8%;
  border: 1px solid #a47148;
  color: #a47148;
  background-color: #fff;
}

.guest-h1 {
  margin-left: 1%;
  margin-top: 3%;
  font-family: "Staatliches", cursive;
  text-decoration: underline;
  color: #a47148;
}

.list-names-con {
  color: #a47148;
  border: 1px solid;
  width: 8%;
  height: 20vh;
  padding: 2%;
  padding-left: 2%;
  text-decoration: underline;
  background-color: #f3d5b9;
  color: #fff;
  border: 1px solid black;
}

.list-names {
  margin: 9%;
}

.event-name {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  background-color: #f3d5b5;
  color: #a47148;
}

.event-location {
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  background-color: #f3d5b5;
  color: #fff;
}
.event-name-title {
  margin-top: 0.05rem;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  background-color: #f3d5b5;
  color: #fff;
}
.event-time {
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  background-color: #f3d5b5;
  color: #fff;
}

/*---------- POTLUCK EDIT -----------*/

.potluck-edit {
  width: 30%;
  height: 70vh;
  border: 1px solid black;
  border-radius: 7%;
  margin-left: 30%;
  background-color: #f3d5b5;
}

.confirm-btn {
  margin-left: 30%;
  margin-top: 8%;
  width: 20%;
  height: 3.5vh;
}
.cancel {
  margin-left: 15%;
  width: 20%;
  height: 3.5vh;
}

/*-------------------LOGIN ------------*/

.login-container {
  display: block;
  margin-top: 3%;
  margin-left: 30%;
  width: 25%;
  height: 41vh;

  border-radius: 10%;
  padding: 6%;
  background-color: #e7bc91;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
}
.login-main {
  margin-left: 15%;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 3.5rem;
  margin-top: 0.1rem;
}

.login-instructions {
  margin-left: 15%;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.4rem;
}

.label-username {
  margin-left: 15%;
  margin: 15%;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
}

.label-password {
  margin-left: 15%;
  margin: 15%;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
}

.input-login {
  margin-left: 15%;
  width: 70%;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: rgba(46, 46, 46, 0.945);
  border: 0px solid #fff;
}

.input-password {
  margin-left: 15%;

  width: 70%;
  margin-bottom: 5%;
  border: 0px solid #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: rgba(46, 46, 46, 0.945);
  border: 0px solid #fff;
}

.login-btn {
  margin-left: 56.3%;
  width: 20%;
  height: 4vh;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f3d5b5;
  border: 2px solid;
  margin-left: 11rem;
}

/*------------- Register ------------*/

.register-container {
  margin-top: 3%;
  margin-left: 30%;
  width: 25%;
  height: 40vh;
  border: 0px solid black;
  border-radius: 10%;
  padding: 5%;
  background-color: #e7bc91;

  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.regis-main {
  font-size: 3rem;
  margin-left: 10%;
  margin: 10%;

  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 3.5rem;
}

.signup-container {
  margin-top: 9%;
}

.label-regis-username {
  margin-left: 10%;
  margin: 10%;

  line-height: 2rem;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
}
.regis-username {
  border: 0px solid #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: rgba(46, 46, 46, 0.945);
  border: 0px solid #fff;
}

.label-regis-pass {
  margin-left: 10%;
  margin: 10%;

  line-height: 2rem;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
}
.regis-password {
  border: 0px solid #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: rgba(46, 46, 46, 0.945);
  border: 0px solid #fff;
}

.signup-btn {
  margin-left: 71.5%;
  margin-top: 6%;
  width: 20%;
  height: 4vh;

  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f3d5b5;
  border: 2px solid;
  margin-left: 12rem;
}

/*------------POTLUCK ITEM -------------*/

.potluck-item {
  width: 30%;
  height: 70vh;
  border: 0px solid black;
  border-radius: 7%;
  margin-left: 30%;
  background-color: #f3d5b5;
}

.input-item {
  margin-top: 4%;
  margin-right: 5%;
  width: 65%;
  font-family: "Staatliches", cursive;
}

.add-item {
  position: relative;
  bottom: 6.3%;
  margin-left: 78%;
  width: 14%;
  height: 4.3vh;
}

.items {
  margin-left: 10%;
  margin-top: 5%;

  font-size: 1.2rem;
  color: #fff;
  background-color: #f3d5b5;
  font-family: "Staatliches", cursive;
}

.confirm-add {
  width: 14%;
  height: 5%;
  margin-top: 3%;
  margin-left: 40%;
  font-family: "Staatliches", cursive;
  font-size: 1.2rem;
  color: #f3d5b5;
  border: 1px solid black;
  background-color: #fff;
  font-size: 1.5rem;
}
button.add-item {
  font-family: "Staatliches", cursive;
  font-size: 1.2rem;
  color: #fff;
  background-color: #f3d5b5;
  border: 2px solid;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 90%;
  height: 20vh;
}
